body {
    padding: 0;
    margin: 0;
    height: 97vh;
}
section {
    float: left;
}
.container {
    height: 100%;
}
.list {
    width: 70%;
}

.editor {
    z-index: 100;
    width: 30%;
    background-color: #ebebeb;
    height: 100%;
}

.editor label {
    vertical-align: top;
}

.admin-nav {
    background-color: #242424;
}

.admin-nav a {color: #ffffff;}

table {
    font-size: 10pt;
}
table th {
    text-align: left;
}

textarea {
    width: 100%;
}