

/*==========  Colors  ==========*/

$black: #222;
$green-dark: #117500;
$green: #01c853;
$white: #ffffff;

/*==========  Fonts  ==========*/

@include font-face("Octin", font-files("../fonts/octin.ttf", truetype));

%font-main {
  font-family: "Octin", serif;
}


/*==========  Resets  ==========*/

* {
  box-sizing: border-box;
}

%reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


@mixin center ($width, $height) {
  height: $height;
  left: 50%;
  margin-left: ($width/2)*-1;
  margin-top: ($height/2)*-1;
  position: absolute;
  top: 50%;
  width: $width;
}


/*==========  Animations  ==========*/

@mixin animation ($name, $time:.2s, $function:ease-in-out) {
  animation-duration: $time;
  animation-name: $name;
  animation-timing-function: $function;
}

@mixin popWindow {

  opacity: 0;
  transform: scale(.1);
  &.open {
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    opacity: 1;
    transform: scale(1);
  }
}


// As a goals is scored
// the goal circle in the board should filled in
@keyframes goaaal {
  0% {
    height: 0; width: 0;
  }
  100% {
    height: 130%; width: 130%;
  }
}

// As a player when checking in
// my team should slide up in the screen
@keyframes playerCheckedIn {
  0% {
    bottom: -110%;
  }
  100% {
    bottom: -18%;
  }
}

// Infinite rotation
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
