$icon-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;


// Side
%side {

  &:before {
    $height: 400px;
    $width: 194px;

    background: url("../images/goal-area.svg") no-repeat center center;
    background-size: contain;
    content: "";
    display: block;
    height: $height;
    margin-top: -1*($height/2);
    position: absolute;
    top: 50%;
    width: $width;
  }

  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 2;

  .score {
    @include center(390px, 390px);
    font-size: 20em;
    text-align: center;
    text-shadow: 6px 6px 0 $green-dark;

    // > ul {
    //   font-size: 16px;
    //   list-style: none;
    //   margin: 0;
    //   padding: 0;
    //   text-shadow: none;
    // }

    &.score-one {
      padding-left: 110px;
    }

    &.score-two {
      padding-right: 110px;
    }
  }




  .checkin-instructions {
    text-align: center;
    font-size: 2em;
    height: 100px;
    left: 50%;
    margin-left: -150px;
    margin-top: -50px;
    padding: 30px;
    position: absolute;
    top: 70%;
    width: 300px;
  }

  &.checkedin {
    opacity: 1;
  }
}

#room {

  #connecting {
    @include popWindow;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 10px 10px 0 rgba(0,0,0,.94);
    font-size: 2em;
    height: 178px;
    left: 50%;
    margin-left: -30%;
    margin-top: -140px;
    padding: 70px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 60%;
    z-index: 99;
  }

  #winner {
    @include center(1024px, 600px);
    @include popWindow;
    background: rgba(255, 255, 255, 0.94);
    box-shadow: 10px 10px 0 rgba(0,0,0,.94);
    color: $black;
    padding: 70px;
    position: fixed;
    z-index: 99;


  }


  @extend %font-main;
  background: $green url("../images/stripes.svg") repeat;
  bottom: 0;
  color: $white;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  #field {

    height: 86%;
    padding: 20px 20px 6px;
    position: relative;
    width: 100%;

    #logo {
      @include center(160px, 160px);

      background: $green url("../images/foosnet.svg") no-repeat center center;
      background-size: 100px;
      border-radius: 200px;
      border: 10px solid $white;
      content: "";
      display: block;
      z-index: 10;
    }


    #side-one {
      &:before {
        left: -1px;
      }

      @extend %side;
      border-color: $white;
      border-style: solid;
      border-width: 10px 5px 10px 10px;

    }

    #side-two {
      &:before {
        right: -1px;
        transform: scaleX(-1);
      }

      @extend %side;
      border-color: $white;
      border-style: solid;
      border-width: 10px 10px 10px 5px;

    }

  } // #field


  #score-board  {
    height: 12%;
    padding: 0 20px;
    position: relative;

    >div {
      clear: none;
      float: left;
      height: 100%;
      width: 50%;
    }

    timer {
      $height: 90px;
      $width: 90px;

      color: white;
      font-size: 1.6em;
      height: $height;
      left: 50%;
      line-height: $height;
      margin-left: ($width / 2) *-1;
      margin-top: (($height / 2) *-1 )+5;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      width: $width;
      z-index: -1;

      &:before {
        border-radius: 300px;
        border: 2px dashed white;
        content: "";
        height: 95%;
        left: 0;
        position: absolute;
        top: 0;
        width: 95%;
      }
      &.running:before {
        animation: rotating 100s ease-in infinite;
      }
    }

    .team {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left center;
      float: left;
      height: 100px;
      width: 80px;
    }

    ul {
      @extend %reset-list;
      float: left;
      height: 100%;
      width: auto;

      li {
        opacity: .35;
        border-radius: 40px;
        border: 2px solid $white;
        float: left;
        height: 40px;
        margin: 3px;
        overflow: hidden;
        position: relative;
        width: 40px;

        // Goal
        &:before {
          background-color: $white;
          border-radius: 30px;
          color: $black;
          content: "";
          display: block;
          font-size: 15px;
          height: 100%;
          left: 50%;
          line-height: 40px;
          opacity: 0;
          position: absolute;
          text-align: center;
          top: 50%;
          width: 100%;
          z-index: -1;
        }
        &.goaaal {
          border: 0 none;
          &:before {
            @include animation(goaaal);
            transform: translateX(-50%) translateY(-50%);
            opacity: 1;
          }
        }



        &.active {
          opacity: 1;
        }

        // Second line
        &:nth-child(6) {
          clear: both;
        }

      }
    }


    .goals-one, .goals-two {
      bottom: -130%;
      position: relative;
      &.player-checkedin {
        @include animation(playerCheckedIn);
        bottom: -18%;
      }
    }
    .goals-one {
      padding-right: 10px;
      .team {
        background-image: url("../images/team-one.svg");
        float: right;
      }
      ul {
        float: right;
        margin-right: 20px;
      }
    }
    .goals-two {
      position: relative;
      bottom: -130%;
      padding-left: 10px;
      .team {
        background-image: url("../images/team-two.svg");
        float: left;
      }
      ul {
        float: left;
        margin-left: 20px;
      }
    }


    &.game-active {
      timer {
        transition: opacity 1s ease;
        opacity: 1;
      }
      .goals-one {
        transition: padding 1s ease;
        padding-right: 80px;
      }
      .goals-two {
        transition: padding 1s ease;
        padding-left: 80px;
      }
    }




  } // #score-board

} // #room


#status {
  background: #222;
  border-radius: 8px 0 0 0;
  bottom: 0;
  color: #fff;
  font-family: Courier;
  font-size: .75em;
  padding: 4px 10px;
  position: fixed;
  right: 0;
  text-align: right;
  width: auto;
  z-index: 10;
}
