<div id="room" ng-class="{'finished': data.winner }"> <div id="connecting" ng-class="{'open': !online}"> Connecting to server! </div> <!--   <div
    id="winner"
    ng-class="{'open!': data.winner}"
  >

    <div ng-repeat="(key, side) in data.side">
      <img ng-src="/images/team-{{key}}.svg" />
      <strong>{{ side.players.join(' & ') }}</strong>
      <em>{{ side.goals.length }}</em>

      <ul>
        <li ng-repeat="goal in side.goals" class="goal">{{ timeInGame(goal, data.end) }}</li>
      </ul>

    </div>

  </div>
 --> <div id="field"> <div id="logo"></div> <div ng-repeat="(key, side) in data.side" id="side-{{key}}" ng-class="{ 'checkedin': side.players }"> <div ng-hide="!online || side.players" ng-animate="animate" class="checkin-instructions"> Waiting for player </div> <div class="score score-{{key}}" ng-show="data.start"> {{ side.goals.length }} <!-- <ul class="goals">
        <li ng-repeat="goal in side.goals">{{timeInGame(goal, data.end)}}</li>
      </ul> --> </div> </div> </div> <!-- #field --> <div id="score-board" ng-class="{ 'game-active': data.start }"> <timer start="{{data.start}}" end="{{data.end}}" ng-class="{ 'running': !data.end }"> </timer> <div ng-repeat="(key, side) in data.side" ng-class="{ 'player-checkedin': side.players.length }" class="goals-{{key}}"> <div class="team"></div> <ul> <li ng-repeat=" n in [] | range:10 " ng-class="{
            'active': $index < data.maxGoals,
            'goaaal': side.goals[$index]
          }"> </li></ul> </div> </div> <!-- #score-board --> </div> <!-- #room --> <div id="status" ng-show="urlParams.dev"> <strong>Room:</strong> {{room}} | <strong>Status:</strong> {{status}} </div>