<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </head>
    <body>
        <h1>{{title}}</h1>
        <form method="post" action="" id="form">
            {{{form}}}
            <button id="submit">Submit</button>
        </form>
        <table>
        {{#each records}}
            <tr>
                <td>{{rfid}}</td>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{nickname}}</td>
                <td>{{location}}</td>
                <td style="background-color:{{color}};">{{color}}</td>
                <td>{{email}}</td>
            </tr>
        {{/each}}
        </table>
        <script type="text/javascript" src="/scripts/competitor.js"></script>
    </body>
</html>