<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqoHXmpwWRT0nhZXkBdsK2KsToR3Be2zs"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    <h1>{{title}}</h1>
    <form method="post" action="">
        {{{form}}}
        <button>Submit</button>
    </form>
    <script type="text/javascript" src="/scripts/competitor.js"></script>
  </body>
</html>
