<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqoHXmpwWRT0nhZXkBdsK2KsToR3Be2zs"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script><style>
        #map-canvas {
            width: 400px;
            height: 200px;
        }
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    <form method="post" action="" id="form">
        {{{form}}}
        <button id="update">Update</button>
        <div id="map-canvas"></div>
        <button id="submit">Submit</button>
    </form>
    <table>
    {{#each records}}
        <tr>
            <td>{{name}}</td>
            <td>{{address}}</td>
            <td>{{lat}}</td>
            <td>{{lng}}</td>
        </tr>
    {{/each}}
    </table>
    <script type="text/javascript" src="/scripts/location.js"></script>
  </body>
</html>
