<section class="list">
    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td><a href="#/location" ng-click="edit(record._id)">Edit</a> <a href="#/location" ng-click="remove(record._id)">Delete</a></td>
                <td>{{record.name}}</td>
                <td>{{record.address}}</td>
                <td>{{record.lat}}</td>
                <td>{{record.lng}}</td>
            </tr>
        </tbody>
    </table>
</section>
<section class="editor">
    <h1>{{title}}</h1>
    <form ng-submit="submit()" novalidate>
        <div><label for="name">Name</label><input type="text" name="name" ng-model="data.name"></div>
        <div><label for="address">Address</label><textarea name="address" id="" ng-model="data.address"></textarea></div>
        <button id="update">Update</button>
        <google-map class="map" center="map.center" zoom="map.zoom"></google-map>
        <input type="submit" id="submit" value="Submit" />
    </form>
</section>

