<section class="list">
    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>RFID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Nick Name</th>
                <th>Location</th>
                <th>Color</th>
                <th>E-Mail</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td><a href="#/competitor" ng-click="edit(record._id)">Edit</a> <a href="#/competitor" ng-click="remove(record._id)">Delete</a></td>
                <td>{{record.rfid}}</td>
                <td>{{record.firstname}}</td>
                <td>{{record.lastname}}</td>
                <td>{{record.nickname}}</td>
                <td>{{record.location}}</td>
                <td style="background-color:{{record.color}};">{{record.color}}</td>
                <td>{{record.email}}</td>
            </tr>
        </tbody>
    </table>
</section>
<section class="editor">
    <h1>{{title}}</h1>
    <form ng-submit="submit()" novalidate>
        <div><label for="rfid">RFID</label><input type="text" name="rfid" ng-model="data.rfid"></div>
        <div><label for="firstname">First Name</label><input type="text" name="firstname" ng-model="data.firstname"></div>
        <div><label for="lastname">Last Name</label><input type="text" name="lastname" ng-model="data.lastname"></div>
        <div><label for="nickname">Nick Name</label><input type="text" name="nickname" ng-model="data.nickname"></div>
        <div><label for="location">Location</label><select name="location" ng-model="data.location" ng-options="location.name for location in locations">
            <option value="">Select a Location</option>
        </select></div>
        <div><label for="color">Color</label><input type="color" name="color" ng-model="data.color"></div>
        <div><label for="email">E-Mail</label><input type="text" name="email" ng-model="data.email"></div>
        <input type="hidden" name="_id" ng-model="data._id">
        <input type="submit" id="submit" value="Submit" />
    </form>
</section>