<section class="list">
    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Name</th>
                <th>Display Name</th>
                <th>Model</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td><a href="#/table" ng-click="edit(record._id)">Edit</a> <a href="#/table" ng-click="remove(record._id)">Delete</a></td>
                <td>{{record.name}}</td>
                <td>{{record.displayName}}</td>
                <td>{{record.model}}</td>
                <td>{{record.location}}</td>
            </tr>
        </tbody>
    </table>
</section>
<section class="editor">
    <h1>{{title}}</h1>
    <form ng-submit="submit()" novalidate>
        <div><label for="name">Name</label><input type="text" name="name" ng-model="data.name"></div>
        <div><label for="displayName">Display Name</label><input type="text" name="displayName" ng-model="data.displayName"></div>
        <div><label for="model">Model</label><input type="text" name="model" ng-model="data.model"></div>
        <div><label for="location">Location</label><select name="location" ng-model="data.location" ng-options="location.name for location in locations">
            <option value="">Select a Location</option>
        </select></div>
        <input type="hidden" name="_id" ng-model="data._id">
        <input type="submit" id="submit" value="Submit" />
    </form>
</section>